body {
	 font-size: 16px;
	 color: #ffffff;
	 background-color: #61122f;
	 font-family: Oxygen, sans-serif;
}
#header-nav {
	background-color: #f6b319;
	/*radius of bend in conner*/
	border-radius: 0;
	border: 0;
}
#logo-img {
	background: url("http://www.foodeasygo.com/Public/Admin/images/logo.png") no-repeat;
	width: 150px;
	height: 100px;
	margin: 10px 15px 10px 0;
}
.navbar-brand {
	padding-top: 25px;
}
.navbar-brand h1 {
	font-family: "Lora", serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px, 1px, 1px, #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand p {
	color: #000;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
} 
.navbar-brand p img {
	width: 15px;
}
